<a href="https://colab.research.google.com/github/mynameis-sohee/Analysis-of-Commercial-Power/blob/main/(DE_5%EA%B8%B0)_2%EC%A3%BC%EC%B0%A8_SQL_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주피터 SQL 엔진 설정

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://guest:Guest1!*@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

'Connected: guest@dev'

다양한 SELECT 실행해보기

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.session_timestamp;

In [ ]:
%%sql

SELECT *
FROM raw_data.session_timestamp
LIMIT 10

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('7cdace91c487558e27ce54df7cdb299c', datetime.datetime(2019, 5, 1, 0, 13, 11, 783000)),
 ('7ed2d3454c5eea71148b11d0c25104ff', datetime.datetime(2019, 5, 1, 10, 18, 43, 210000)),
 ('fd0efcca272f704a760c3b61dcc70fd0', datetime.datetime(2019, 5, 1, 13, 45, 19, 793000)),
 ('c5f441cd5f43eb2f2c024e1f8b5d00cd', datetime.datetime(2019, 5, 1, 15, 3, 54, 650000)),
 ('3d191ef6e236bd1b9bdb9ff4743c47fe', datetime.datetime(2019, 5, 1, 15, 33, 58, 197000)),
 ('cd0b43eac0392accf3624b7372dec36e', datetime.datetime(2019, 5, 1, 16, 33, 3, 463000)),
 ('c67ba7c4c5c0cd4cc3e3a7146fe5c015', datetime.datetime(2019, 5, 1, 17, 42, 13, 580000)),
 ('63dfdeb1ff9ff09ecc3f05d2d7221ffa', datetime.datetime(2019, 5, 1, 18, 35, 48, 620000)),
 ('8d3215ae97598264ad6529613774a038', datetime.datetime(2019, 5, 1, 21, 21, 12, 953000)),
 ('4c4c937b67cc8d785cea1e42ccea185c', datetime.datetime(2019, 5, 1, 23, 50, 38))]

In [ ]:
%%sql

SELECT DATE(ts) yearmonthday, sessionID
FROM raw_data.session_timestamp
LIMIT 10;

In [ ]:
%%sql

SELECT DATE(ts) date, sessionID
FROM raw_data.session_timestamp
ORDER BY ts desc
LIMIT 10;

In [ ]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID) -- COUNT(1)
FROM raw_data.session_timestamp
GROUP BY 1 
LIMIT 10;

In [ ]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

In [ ]:
%%sql

SELECT DATE(ts) date, COUNT(sessionID)
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1
LIMIT 10; -- DESC

JOIN에 대해 배워보자. 일별 방문 유니크한 사용자의 수를 계산하고 싶다면?

In [ ]:
# raw_data.user_session_channel과 raw_data.session_timestamp 테이블의 조인이 필요
%%sql

SELECT DATE(st.ts) date, COUNT(usc.userID) -- 세션수 카운트와 동일. COUNT(NULL): 0, 그 이외의 모든 경우는 1을 리턴
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1
LIMIT 10;

In [ ]:
# raw_data.user_session_channel과 raw_data.session_timestamp 테이블의 조인이 필요
%%sql

SELECT DATE(st.ts) date, COUNT(DISTINCT usc.userID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

In [ ]:
%%sql

SELECT channel, count(st.sessionID)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc ON st.sessionID = usc.sessionID
GROUP BY 1
ORDER BY 1

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel 
WHERE channel ilike '%o%'

판다스와 연동하는 방법

In [ ]:
result = %sql SELECT * FROM raw_data.user_session_channel
df = result.DataFrame()

In [ ]:
df.head()

In [ ]:
df.groupby(["channel"]).size()

In [ ]:
df.groupby(["channel"])["sessionid"].count()

In [ ]:
result = %sql SELECT * FROM raw_data.session_timestamp
df_st = result.DataFrame()

In [ ]:
df_st['date'] = df_st['ts'].apply(lambda x: "%d-%02d-%02d" % (x.year, x.month, x.day))

In [ ]:
df_st.head()

In [ ]:
df_st.groupby(["date"]).size()  # .sort_values(["date"])

In [ ]:
df_st.groupby(["date"])["sessionid"].count().reset_index(name='count').sort_values("date", ascending=False)